root = true

[*.{cs,ts,js,css,cshtml,json,svelte,vue}]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8
ij_javascript_use_semicolon_after_statement = false
ij_typescript_use_semicolon_after_statement = false
ij_any_parentheses_expression_new_line_after_left_paren = true
ij_any_if_brace_force = always
ij_any_do_while_brace_force = always
ij_any_for_brace_force = always
ij_any_while_brace_force = always
ij_any_binary_operation_wrap = off

[*.{xaml,cshtml,html,xml}]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8

[*.cs]
csharp_new_line_before_open_brace = all
